<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" type="text/css" />

    <title>Nutrition App</title>
  </head>

  <body>
    <nav class="navbar">
      <button class="btn--nav home" type="submit">Home</button>

      <button class="btn--nav newFood" type="submit">Add new</button>
      <button class="btn--nav all" type="submit">All groups</button>
      <button class="btn--nav nuts" type="submit">Nuts</button>
      <button class="btn--nav pastry" type="submit">Pastry</button>
      <button class="btn--nav fruit" type="submit">Fruits</button>
      <button class="btn--nav vegetable" type="submit">Vegetable</button>
      <button class="btn--nav mushroom" type="submit">Mushroom</button>
      <button class="btn--nav chiken" type="submit">Chiken</button>
      <button class="btn--nav pork" type="submit">Pork</button>
      <button class="btn--nav beef" type="submit">Beef</button>
      <button class="btn--nav milk" type="submit">Milk products</button>
      <button class="btn--nav sea" type="submit">Sea food</button>
      <button class="btn--nav alchohole" type="submit">Alchohol</button>
      <button class="btn--nav juice" type="submit">Juice/Cream</button>
    </nav>
    <div class="container">
      <h1>Research your meal</h1>
      <div class="sort">
        <select name="sort" id="sortBy">
          <option value="">Sort by criteria...</option>
          <option value="protein">Sort by protein</option>
          <option value="carbohydrates">Sort by carbohydrates</option>
          <option value="sugar">Sort by sugar</option>
          <option value="fat">Sort by fat</option>
          <option value="energy">Sort by energy</option>
        </select>

        <form action="/api/foods/product" method="post">
          <input class="search--box" type="search" name="product_name" id="" placeholder="search for food ....." />
          <button class="btn--submit" type="submit">Search</button>
        </form>
      </div>
      <div class="cards-container">@ProductCard</div>
    </div>
    <script>
      const sortBy = document.querySelector("#sortBy");
      const home = document.querySelector(".home");
      const addNew = document.querySelector(".newFood");
      const fruit = document.querySelector(".fruit");
      const nuts = document.querySelector(".nuts");
      const pastry = document.querySelector(".pastry");
      const chiken = document.querySelector(".chiken");
      const pork = document.querySelector(".pork");
      const vegetable = document.querySelector(".vegetable");
      const mushroom = document.querySelector(".mushroom");
      const sea = document.querySelector(".sea");
      const beef = document.querySelector(".beef");
      const alchohole = document.querySelector(".alchohole");
      const juice = document.querySelector(".juice");
      const milk = document.querySelector(".milk");
      const all = document.querySelector(".all");
      sortBy.addEventListener("change", () => {
        const arrSort = ["&sort=fat", "&sort=protein", "&sort=carbohydrate", "&sort=energy", "&sort=sugar", "?sort=fat", "?sort=protein", "?sort=carbohydrate", "?sort=energy", "?sort=sugar"];
        let strLink = location.search;
        if (location.search.includes("sort")) {
          arrSort.forEach((el) => {
            if (strLink.includes(el)) {
              strLink = strLink.replace(el, "");
            }
          });
        }

        if (sortBy.value === "fat") strLink.includes("group") ? (strLink += "&sort=fat") : (strLink += "?sort=fat");
        if (sortBy.value === "protein") strLink.includes("group") ? (strLink += "&sort=protein") : (strLink += "?sort=protein");
        if (sortBy.value === "carbohydrates") strLink.includes("group") ? (strLink += "&sort=carbohydrate") : (strLink += "?sort=carbohydrate");
        if (sortBy.value === "sugar") strLink.includes("group") ? (strLink += "&sort=sugar") : (strLink += "?sort=sugar");
        if (sortBy.value === "energy") strLink.includes("group") ? (strLink += "&sort=energy") : (strLink += "?sort=energy");
        location.href = `/api/foods${strLink}`;
      });
      home.addEventListener("click", () => {
        location.href = "/";
      });
      addNew.addEventListener("click", () => {
        location.href = "/api/new-food";
      });
      fruit.addEventListener("click", () => {
        location.href = "/api/foods?group=fruit";
      });
      nuts.addEventListener("click", () => {
        location.href = "/api/foods?group=nuts";
      });
      vegetable.addEventListener("click", () => {
        location.href = "/api/foods?group=vegetable";
      });
      chiken.addEventListener("click", () => {
        location.href = "/api/foods?group=chiken";
      });
      pork.addEventListener("click", () => {
        location.href = "/api/foods?group=pork";
      });
      beef.addEventListener("click", () => {
        location.href = "/api/foods?group=beef";
      });
      pastry.addEventListener("click", () => {
        location.href = "/api/foods?group=pastry";
      });
      mushroom.addEventListener("click", () => {
        location.href = "/api/foods?group=mushroom";
      });
      sea.addEventListener("click", () => {
        location.href = "/api/foods?group=sea";
      });
      alchohole.addEventListener("click", () => {
        location.href = "/api/foods?group=alchohole";
      });
      juice.addEventListener("click", () => {
        location.href = "/api/foods?group=juice";
      });
      milk.addEventListener("click", () => {
        location.href = "/api/foods?group=milk";
      });
      all.addEventListener("click", () => {
        location.href = "/api/foods/";
      });
      if (location.href.includes("group=nuts")) {
        nuts.classList.toggle("clicked");
      }
      if (location.href.includes("group=pork")) {
        pork.classList.toggle("clicked");
      }
      if (location.href.includes("group=chiken")) {
        chiken.classList.toggle("clicked");
      }
      if (location.href.includes("group=fruit")) {
        fruit.classList.toggle("clicked");
      }
      if (location.href.includes("group=vegetable")) {
        vegetable.classList.toggle("clicked");
      }
      if (location.href.includes("group=beef")) {
        beef.classList.toggle("clicked");
      }
      if (location.href.includes("group=mushroom")) {
        mushroom.classList.toggle("clicked");
      }
      if (location.href.includes("group=sea")) {
        sea.classList.toggle("clicked");
      }
      if (location.href.includes("group=pastry")) {
        pastry.classList.toggle("clicked");
      }
      if (location.href.includes("group=alchohole")) {
        alchohole.classList.toggle("clicked");
      }
      if (location.href.includes("group=juice")) {
        juice.classList.toggle("clicked");
      }
      if (location.href.includes("group=milk")) {
        milk.classList.toggle("clicked");
      }
      if (location.href.includes("/api/foods/")) {
        all.classList.toggle("clicked");
      }
    </script>
  </body>
</html>
